#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow-1 {
  flex: 1;
}
.form-container {
  z-index:1000;
  width: 90%;
  background-color: white;
  padding-top: 30px;
  transition: top 0.3s ease;
}
.sticky {
  position:fixed;
  top:0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}